.catalog-hero__content {
  position: relative;
  border-radius: 20px;
  background: #f8f8f8;
  overflow: hidden;
  margin-bottom: 10px;
  height: 165px;
  padding: 23px;
}
.catalog-hero__content:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 60px;
  background: url("../../img/catalog-hero-img.webp") center/cover no-repeat;
  width: 435px;
  height: 165px;
}
.catalog-hero .hero__title {
  text-align: left;
  color: var(--gray);
  margin: 0;
}
.catalog-hero__futures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 65px;
}
.catalog-hero__future {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background: #f8f8f8;
  padding: 25px 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 97%;
  letter-spacing: -0.01em;
  color: var(--siniy);
}
.catalog-hero__future .icon-future {
  width: 68px;
  height: 68px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background: var(--white);
}

.catalog-offer {
  margin-bottom: 100px;
}
.catalog-offer__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.catalog-offer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 97%;
  letter-spacing: -0.01em;
  color: var(--gray);
}
.catalog-offer__counter {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: -0.01em;
  color: #272727;
}
.catalog-offer__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 745px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 24px;
  margin-bottom: 40px;
}
.catalog-offer__tags .tag a {
  border-radius: 100px;
  padding: 10px 22px;
  background: #f8f8f8;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: -0.01em;
  color: var(--tekst);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (any-hover: hover) {
  .catalog-offer__tags .tag a:hover {
    background: var(--accent);
    color: var(--white);
  }
}
.catalog-offer__tags .tag a.active {
  background: var(--accent);
  color: var(--white);
}
.catalog-offer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.catalog-offer__footer {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.catalog-offer__footer .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.catalog-offer__footer .pagination a {
  border-radius: 5px;
  background: var(--blue);
  width: 40px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 97%;
  letter-spacing: -0.01em;
  color: var(--accent);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (any-hover: hover) {
  .catalog-offer__footer .pagination a:hover {
    background: var(--accent);
    color: var(--white);
  }
}
.catalog-offer__footer .pagination a.active {
  background: var(--accent);
  color: var(--white);
}
.catalog-offer__more {
  background: var(--accent);
  color: var(--white);
  padding-block: 17px;
  border-radius: 10px;
  max-width: 240px;
  width: 100%;
}
@media (any-hover: hover) {
  .catalog-offer__more:hover {
    background: var(--hovered);
  }
}

.catalog-seo {
  margin-bottom: 100px;
}
.catalog-seo .container {
  border-radius: 20px;
  background: var(--blue);
  padding: 32px 45px;
}
.catalog-seo__wrapper {
  background: var(--white);
  padding: 40px;
  border-radius: 20px;
}
.catalog-seo__wrapper h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(20px, 3vw, 30px);
  line-height: 97%;
  letter-spacing: -0.01em;
  color: var(--gray);
}
.catalog-seo__wrapper p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: var(--gray);
}
.catalog-seo__wrapper li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: var(--gray);
}
/*# sourceMappingURL=catalog-page.css.map */